
.login-form .container .box{
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: .5rem;
    padding:3rem 2rem;
    border:.1rem solid rgba(0,0,0,.1);
    margin-top: 25%;
}

.register-form .container .box{
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: .5rem;
  padding:3rem 2rem;
  border:.1rem solid rgba(0,0,0,.1);
  margin-top: 7%;
}

.box{
  margin: 0 auto;
}

.input {
  border:none;
  border-bottom: 1px solid rgba(18, 17, 17, 0.5);
}

