.custom-card-free-shipping{
    background-color: #00A86B;
    border-radius: 6px;
    padding-top: 20px;
    margin: 20px auto;
}

.custom-card-vouchers{
    background-color: #E36176;
    border-radius: 6px;
    padding-top: 20px;
}

.upcomming {
    font-size: 45px;
    text-transform: uppercase;
    border-left: 10px solid #E36176;
    padding-left: 15px;
    margin: 10px 8px;
}
div.container {
    max-width: 1200px;
    overflow: hidden;
   
}

.container .item {
    width: 100%;
    padding: 0 20px;
    background: #ffffff;
    overflow: hidden;
    margin: 20px auto;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
}
.container .item-right, .container .item-left {
    float: left;
    padding: 20px;
}
.container .item-right {
    padding: 65px 30px;
    margin-right: 20px;
    width: 25%;
    position: relative;
    height: 205px;
    /* background-color: #00A86B; */
}
.container .item-right .up-border, .container .item-right .down-border {
    padding: 14px 15px;
    background-color: #00A86B;
    border-radius: 50%;
    position: absolute;
    
}
.container .item-right .up-border {
    top: -8px;
    right: -35px;
}
.container .item-right .down-border {
    bottom: -10px;
    right: -35px;
}
.container .item-right .num {
    font-size: 30px;
    color: #111
}
.container .item-right .day, .container .item-left .event {
    color: #555;
    font-size: 20px;
    margin-bottom: 9px;
}
.container .item-right .day {
    font-size: 20px;
}
.container .item-left {
    width: 71%;
    padding: 34px 0px 19px 46px;
    border-left: 3px dotted #999;
} 
.container .item-left .title {
    color: #111;
    font-size: 34px;
    margin-bottom: 12px
}
.container .item-left .sce {
    margin-top: 5px;
    display: block
}
.container .item-left .sce .icon, .container .item-left .sce p,
.container .item-left .loc .icon, .container .item-left .loc p{
    float: left;
    word-spacing: 5px;
    letter-spacing: 1px;
    color: #888;
    margin-bottom: 10px;
}
.container .item-left .sce .icon, .container .item-left .loc .icon {
    margin-right: 10px;
    font-size: 20px;
    color: #666
}
.container .item-left .loc {display: block}
.fix {clear: both}
.container .item .tickets, .booked, .cancel{
    color: #fff;
    padding: 6px 14px;
    float: right;
    margin-top: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer
}
.container .item .tickets {background: #777}
.container .item .booked {background: #3D71E9}
.container .item .cancel {background: #DF5454}
.linethrough {text-decoration: line-through}
    @media(max-width: 750px) {
    .container .item {
        width: 100%;
        margin-right: 20px
    }
    div.container {
        margin: 0 20px auto
    }
}
.cart{
        margin-top: 50px;
    }
@media(max-width: 800px) {
    .cart{
        margin-top: 100px;
    }
    .container .item {
        width: 100%;
        margin-right: 20px;
        float:left;
    }
    .container .item-right, .container .item-left {
        float: left;
    }
    .container .item-right .down-border {
        bottom: -28px;
        right: -35px;
    }
}

@media(max-width: 500px) {
    .cart{
        margin-top: 100px;
    }
    .container .item {
        width: 100%;
        margin-right: 20px;
        float:left;
    }
    .container .item-right, .container .item-left {
        float: left;
    }
    .container .item-right .down-border {
        bottom: -28px;
        right: -35px;
    }
}