.custom-card-free-shipping{
    background-color: #00A86B;
    border-radius: 6px;
    padding: 1px;
}

.custom-card-vouchers{
    background-color: #E36176;
    border-radius: 6px;
    padding: 1;
}

.upcomming {
    font-size: 45px;
    text-transform: uppercase;
    border-left: 10px solid #E36176;
    padding-left: 15px;
    margin: 10px 8px;
}

.coupon .divider {
    border-left: 1px dashed #00A86B;
    width: 5% !important;
    position:relative;
}

.coupon .divider .info::after, .coupon .divider .info::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #00A86B;
    border-radius: 100%;
}
.coupon .divider .info::before {
    top: -10px;
    left: -10px;
}

.coupon .divider .info::after {
    bottom: -10px;
    left: -10px;
}
.coupon .time {
    font-size: 1.6rem;
}

/* EXCLUSIVE COUPON */
.exclusive-coupon .exclusive-coupon-divider {
    border-left: 1px dashed #E36176;
    width: 5% !important;
    position:relative;
}

.exclusive-coupon .exclusive-coupon-divider .info::after, .exclusive-coupon .exclusive-coupon-divider .info::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #E36176;
    border-radius: 100%;
}
.exclusive-coupon .exclusive-coupon-divider .info::before {
    top: -10px;
    left: -10px;
}

.exclusive-coupon .exclusive-coupon-divider .info::after {
    bottom: -10px;
    left: -10px;
}
.exclusive-coupon .time {
    font-size: 1.6rem;
}

.cart{
        margin-top: 50px;
    }
@media(max-width: 800px) {
    .cart{
        margin-top: 100px;
    }
}

@media(max-width: 500px) {
    .cart{
        margin-top: 100px;
    }
}